body {
    margin:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.page-wrapper {
    max-width: 1024px;
    background-color: antiquewhite;
    margin: 0px auto 0px auto;
    padding: 30px 15px 30px 15px;

}

header {
height: 50px;
width: 100%;
background-color:whitesmoke;
color: brown;
text-align: center;
font-size: 45px;
}

.banner {
    height: 150px;
    background-image: url('../image/Background.jpg');
    background-size: cover;
    background-position: center;
}

h1 {
    color: brown;
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: brown;
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section.about-me {
    /*margin: 10px;*/
    margin-top: 80px;
    margin-bottom: 80px;
}
.about-me p {
    font-size: 21px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Flex Box for my portfolio*/
section.my-portfolio div {

    height: 100px;
}

.d-inline{
    flex: 1 0 20%;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid gold;
    border-style: dotted;
    border-radius: 10%;
    box-shadow: -5px 5px grey;

}

.d-flex {
    display: flex;
    flex-wrap: wrap;

}

.d-flex>div .d-inline.d1{
    order: 1;
}
.d-flex>div .d-inline.d2{
    order: 2;
}
.d-flex>div .d-inline.d3{
    order: 3;
}
.d-flex>div .d-inline.d4{
    order: 4;
}
.d-flex>div .d-inline.d5{
    order: 5;
}
.d-flex>div .d-inline.d6{
    order: 6;
}

/*exercise 5*/
#grid-layout h2{
    color:black;
}

.basic-grid, .advance-grid, .grid-column-row, .grid-area {
	display: grid;
	grid-template-columns: auto auto auto;
	background-color: blue;
	gap: 15px;
	padding: 15px;
}

.grid-column-row {
    grid-template-columns: auto auto auto auto;
}

.advance-grid, .grid-area {
	grid-template-columns: auto auto auto auto auto;
}

.basic-grid>div ,.advance-grid>div, .grid-column-row>div, .grid-area>div {
	border: 1px solid gray;
	padding: 10px;
	text-align: center;
	line-height: 52px;
	background-color: white;
	box-shadow: -5px 5px grey;
}

.basic-grid .item1 {
	grid-column-start: 1;
	grid-column-end: 3;
}

.basic-grid .item6 {
	grid-column: 2 / 4;
}

.basic-grid .item5 {
	grid-row-start: 2;
	grid-row-end: 4;

}

.advance-grid .item7 {
    grid-area: 1 / 2 / 3 / 5;
    /* row start | col start | row end | col end|*/
}

.advance-grid .item5 {
    grid-area: 3 / 3 / 5 / 5;
}   

.advance-grid .item10{
    grid-column: 1 / 3;

}
.advance-grid .item2{
    grid-row: 1 / 3;

}
.advance-grid .item6{
    grid-row: 3 / 5;
}


.advance-grid .item12{
    grid-column: 4 / 6;
}

.advance-grid .item8{
    grid-row: 3/5;
}

.grid-column-row .item1{
    grid-row: 1/3;
}

.grid-column-row .item3{
    grid-column: 3/5;
}

.grid-column-row .item10{
    grid-row: 3/5;
}

.grid-column-row .item8{
    grid-column: 3/5;
}

.grid-area .item5 {
    grid-column: 5 / 7;
    background-color: yellow;
}

.grid-area .item8 {
    grid-area: 2 / 2 / 5 / 4;
    background-color: yellowgreen;
}

.grid-area .item9 {
    grid-area: 2 / 4 / 5 / 6;
    background-color: greenyellow;
}